.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0.5;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}

.modal {
  z-index: 100;
  background: white;
  position: relative;
  margin: 1.75rem auto;
  border-radius: 3px;
  max-width: 500px;
  padding: 2rem;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.75rem;
}

.modal-body {
  overflow: hidden;
  border-radius: 5px;
}

.modal-close-button {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  opacity: 0.3;
  cursor: pointer;
  border: none;
}

.cardWrapper {
  border-top: 1px solid #eee;
  margin-top: 20px;
  padding-top: 20px;
}

.cardWrapper:first-child {
  border-top: 0;
  margin: 0;
}

.cardWrapper p,
.cardWrapper strong {
  margin: 0;
  display: block;
  word-break: break-all;
}

.cardWrapper strong {
  margin-top: 5px;
}

.direction {
  background: #d4d4d4;
  padding: 2px 5px;
  margin: 0;
  margin-bottom: 10px;
  border-radius: 5px;
  color: #000;
  font-weight: 500;
  display: inline-block;
  width: auto;
  font-size: 13px;
}

.qrCode {
  display: flex;
  margin: 0 auto 25px;
  width: 150px;
  height: 150px;
}
