.fee {
  margin-bottom: 25px;
}

.amountWasSent {
  width: 100%;
  border: 1px dashed rgb(139, 195, 74);
  background: rgba(139, 195, 74, 0.2);
  border-radius: 4px;
  padding: 15px;
  text-align: center;
  word-break: break-all;
}

.amountWasSent a {
  font-size: 15px;
  text-decoration: none;
  color: #009688;
  font-weight: 700;
}
.amountWasSent small {
  display: block;
  text-transform: uppercase;
  font-size: 9px;
  text-decoration: none;
}

.alertWarning {
  background: rgba(254, 199, 39, 0.2);
  padding: 20px;
  margin-bottom: 25px;
  border: 1px solid rgba(254, 199, 39, 0.5);
  border-radius: 4px;
}

.requestedAmount {
    font-weight: 600;
    color: #333;
    background: #eee;
    padding: 10px;
    border-radius: 4px;
}

.sendFundsMessage {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0 0 30px;
    line-height: normal;
}

.sendFundsMessage button {
    margin-left: 10px;
}
