.page-new-chat {
    flex: 1;
    display: flex;
}
.page-new-chat .page-content {
    margin: auto;
}
.page-new-chat .title {
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    text-align: center;
}
.page-new-chat .subtitle {
    color: #fff;
}
.page-new-chat .address-form {
    display: flex;
}
.page-new-chat .address-form ~ .address-form {
    margin-top: 25px;
}
.page-new-chat .address-form input {
    flex: 1;
    height: 55px;
    border: 0;
    border-radius: 8px;
    padding: 20px;
    font-size: 18px;
    background: #0c0c0d;
    color: #fff;
    outline: 0;
}
.page-new-chat .address-form button {
    border: 0;
    background: var(--primary);
    border-radius: 8px;
    font-size: 16px;
    font-weight: 700;
    padding: 16px;
    cursor: pointer;
    width: 100%;
}
