.page-rewards .wrapper {
    text-align: center;
    color: #999;
}

.page-rewards .wrapper p {
    width: 100%;
}

.page-rewards .wrapper .text-primary {
    color: var(--primary);
}

.page-rewards .rewardsImg {
    background: #fff;
    border-radius: 12px;
    overflow: hidden;
}

.page-rewards .wrapperActivating {
    text-align: center;
    width: 100%;
    color: var(--primary);
}

.page-rewards .wrapperActivatingLoading {
    width: 40px;
    height: 40px;
    object-fit: contain;
    animation: spin 3s linear infinite;
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.page-rewards .form-not-activated {
    padding: var(--spacer);
    background-color: #0c0c0d;
    border-radius: 16px;
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin: 0 auto;
}

.page-rewards .form-not-activated input {
    flex: 1;
    height: 56px;
    border-radius: 8px 0 0 8px;
    padding: 10px;
    background: none;
    border: 1px solid var(--primary);
    border-right: 0;
    font-size: 16px;
    font-weight: 700;
    outline: 0;
    color: #fff;
}

.page-rewards .form-not-activated button[type='submit'] {
    text-align: center;
    width: 100%;
}


.page-rewards button[type="submit"] {
    border: 0;
    outline: 0;
    margin: var(--spacer) 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 56px;
    width: 170px;
    background: var(--primary);
    border-radius: var(--borderRadius);
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
}

.page-rewards .loading{
    margin:0 auto;
    text-align: center;
    margin-top:200px
}
