.page-receive .qrcode {
    width: 240px;
    height: 240px;
    padding: var(--spacer);
    border-radius: var(--borderRadius);
    background: #ffffff;
    margin: 0 auto var(--spacer-lg);
    position: relative;
}

.page-receive .qrcode .btnWrapper {
    position: absolute;
    right: -40px;
    bottom: 0;
    width: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-receive .qrcode .btnWrapper button ~ button {
    margin-top: 16px
}

.page-receive .form-group {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #999;
    border-radius: var(--borderRadius);
    margin-top: var(--spacer-lg);
}
.page-receive .address {
    border-bottom: 1px solid #999;
}
.page-receive .fiat {
    width: 200px;
}
.page-receive .amount {
    max-width: 220px;
}
.page-receive .amount,
.page-receive .amountInSmart {
    flex: 1;
    align-items: center;
    border-left: 1px solid #999;
}

.page-receive .amountInSmart input {
    font-size: 16px;
}

.page-receive option {
    color: #333;
}

.page-receive .btnCopy {
    width: 20px;
    height: 20px;
    object-fit: contain;
    fill: #fff;
}

.page-receive .btnCopy:active {
    fill: var(--primary);
}
