.page.page-chat {
    padding: 0;
    flex-wrap: wrap;
    display: flex;
}

.page-chat .chat-wallets {
    width: 300px;
    padding: 25px;
    height: 100%;
    background: #0c0c0d;
    border-left: 1px solid #1b1b1b;
}

.page-chat .chat-wallets .header {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0;
    height: 68px;
    justify-content: space-between;
}

.page-chat .chat-wallets .header .title {
    font-size: 18px;
    color: #fff;
}

.page-chat .chat-wallets .header button {
    background: var(--primary);
    border: 0;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
}

.page-chat .chat-wallets .wallet {
    padding: 8px;
    background: var(--black);
    border: 1px solid #1b1b1b;
    border-radius: 2px;
}

.page-chat .chat-wallets .wallet ~ .wallet {
    margin-top: 16px;
}

.page-chat .chat-wallets .address {
    padding: 0;
    font-size: 14px;
    font-weight: 600;
    margin: 0;
    color: #a09d9d;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.page-chat .chat-wallets .lastMessage {
    padding: 0;
    font-size: 14px;
    margin: 8px 0 0;
    display: block;
    color: #a09d9d;
}

.page-chat .chat-wallets .active {
    border-color: var(--primary);
    opacity: 1;
    background: var(--black);
}

.page-chat .chat-messages {
    flex: 1;
    height: 100%;
    border-left: 1px solid var(--black);
    padding: 25px;
    display: flex;
    flex-direction: column;
}

.page-chat .send-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: 16px;
}

.page-chat .send-wrapper .message-wrap {
    flex: 1 1 100%;
    margin-bottom: 8px;
}

.page-chat .send-wrapper .password-wrap {
    flex: 1 1 auto;
}

.page-chat .send-input {
    flex: 1;
    padding: 16px;
    resize: none;
    background: #000;
    border: 0;
    border-radius: 4px;
    outline: 0;
    color: var(--primary);
    width: 100%;
    height: 100%;
}

.page-chat .send-button {
    background-color: var(--primary);
    border: 0;
    color: #333;
    padding: 16px 24px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    font-family: inherit;
    margin: 16px 0 0;
    cursor: pointer;
}

.page-chat .message-Sent {
    margin-left: auto;
}

.page-chat .message-Sent {
    margin-left: auto;
    background-color: #056162  !important;
}

.page-chat .message-Received  {
    background-color: #5b5b5b  !important;
}

.page-chat .message-Received .value {
    margin: 0 0 0;
    padding: 0;
    color: #fff !important;
    font-size: 16px;
}

.page-chat .message-Sent .value {
    margin: 0 0 0;
    padding: 0;
    color: #fff !important;
    font-size: 16px;
}


.page-chat .message {
    width: 60%;
}

.page-chat .transaction-messages {
    display: flex;
    flex-direction: column;
}

.page-chat .transaction {
    padding: var(--spacer);
    background: #0c0c0d;
    color: #999;
    border-radius: 16px;
}

.page-chat .transaction.chatAddress {
    margin-bottom: 25px;
}

.page-chat .transaction .label {
    margin: 8px 0 0;
    padding: 0;
    font-size: 11px;
    font-weight: 500;
    text-transform: uppercase;
}

.page-chat .transaction .value {
    margin: 0 0 0;
    padding: 0;
    color: var(--primary);
    font-size: 16px;
}

.page-chat .transaction button {
    background: none;
    border: 0 !important;
    outline: 0 !important;
    cursor: pointer;
}

.page-chat .transaction .value a {
    color: inherit;
    font-size: inherit;
}

.page-chat .transaction ~ .transaction {
    margin-top: var(--spacer);
}

.page-chat .error {
    color: #999;
}

.page-chat .refreshBtn {
    margin-bottom: var(--spacer);
    display: flex;
    margin-left: auto;
    border: 0;
    background: none;
    color: var(--primary);
    border: 1px solid var(--primary);
    border-radius: 4px;
    font-size: 12px;
    padding: 4px;
    cursor: pointer;
}

.page-chat .refreshBtn:disabled {
    opacity: 0.5;
}

.page-chat .spaceicon {
    margin: 0 20px;
}

.page-chat .btnCopy {
    width: 20px;
    height: 20px;
    object-fit: contain;
    fill: #fff;
    position: relative;
}

.page-chat .btnCopy:active {
    fill: var(--primary);
}

.page-chat .btn.copy {
    position: relative;
}

.page-chat .btn.copy:active::after {
    content: 'Copied';
    display: block;
    top: 0;
    left: 50%;
    transform: translate(-50%, calc(-100% - 10px));
    background: #333;
    color: #fff;
    position: absolute;
    padding: 10px;
    border-radius: 10px;
}

.page-chat .wallet .symbol {
    width: 30px;
    height: 30px;
}

.page-chat .loading{
    margin:0 auto;
    text-align: center;
    margin-top:100px
}



.thumb-vertical {
    position: relative;
    display: block;
    width: 100px;
    height: 100px;
    cursor: pointer;
    border-radius: inherit;
    background-color: var(--primary);
 }

 
 .page-chat .hasBeenSent {
    background: var(--primary);
    padding: var(--spacer);
    border-radius: var(--borderRadius);
    color: #333;
    margin-bottom: var(--spacer-lg);
    position: relative;
}
.page-chat .hasBeenSent p {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 300;
}
.page-chat .hasBeenSent .btnClose {
    border: 1px solid #333;
    font-weight: 700;
    position: absolute;
    top: 0;
    right: 20px;
    border-radius: 100%;
    font-size: 12px;
    text-align: center;
    padding: 6px 10px;
}

.page-chat .hasBeenSent button {
    margin-top: 25px;
    display: block;
    color: #333;
    border: 0;
    background: none;
    border: 0;
    cursor: pointer;
}

.txID{
    font-size: 10px;
}

.page-chat .ChatError{
    background-color:brown;
    color: white;
    padding:10px;
    border-radius: var(--borderRadius);
    position: relative;
}


.page-chat .acceptInvite {
    background: var(--primary);
    border: 0;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
    margin:0 auto;
    text-align: center;;
}

.page-chat .accept{
    width: 100%;
    text-align: center;
}

.decryptMessages{
    width: 100%;
    text-align: center;
    margin-top: 100px;
    color:#fff;
}