@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

html {
    box-sizing: border-box;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

html,
body,
#root {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

:root {
    --primary: #f2ba2a;
    --black: #141315;
    --headerHeight: 100px;
    --sidebarWidth: 450px;
    --borderRadius: 8px;
    --spacer: 25px;
    --spacer-lg: 50px;
}

body {
    background: var(--black);
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

.header {
    width: 100%;
    height: var(--headerHeight);
    border-bottom: 1px solid #252426;
    display: flex;
    align-items: center;
    padding: 25px;
}

.header .logo {
    width: 235px;
}

.header .nav {
    margin-left: 180px;
}

.header .nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.header .nav li ~ li {
    margin-left: 75px;
}

.header .nav a {
    color: var(--primary);
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
}

.header .nav a.active {
    position: relative;
}

.header .nav a.active:after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background: var(--primary);
    position: absolute;
    left: 0;
    bottom: -40px;
}

.main {
    width: 100%;
    height: calc(100% - var(--headerHeight));
    display: flex;
    flex-wrap: wrap;
}

.sidebar {
    width: var(--sidebarWidth);
}

.wallets-balance {
    width: 100%;
    height: 140px;
    background: #0c0c0d;
    padding: 25px;
}

.wallets-balance .amount {
    font-size: 23px;
    font-weight: 700;
    color: var(--primary);
    padding: 0;
    margin: 25px 0 0;
}

.wallets-balance .fiat {
    font-size: 13px;
    font-weight: 700;
    color: var(--primary);
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}

.wallets-list {
    width: 100%;
    height: calc(100% - 200px);
    background: rgba(12, 12, 13, 0.4);
}

.wallets-list-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 25px 25px 0;
}

.wallets-list-header h2 + button {
    margin-left: auto;
    margin-right: 16px;
}

.wallets-list-header button:hover circle,
.wallets-list-header button:focus circle {
    stroke: var(--primary);
}

.wallets-list-header button:hover path,
.wallets-list-header button:focus path {
    fill: var(--primary);
}

.title {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 700;
    color: #999;
    font-family: 'Roboto';
}

.wallet {
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    opacity: 0.5;
    transition: 0.5s;
    cursor: pointer;
}

.wallet.wallet-current,
.wallet:hover,
.wallet:focus {
    opacity: 1;
}

.wallet .symbol {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--primary);
    color: var(--primary);
    font-size: 18px;
    font-weight: 700;
    border-radius: 100%;
}

.wallet.wallet-current .symbol {
    background: var(--primary);
    border: 1px solid var(--primary);
    color: #333;
}

.wallet .content {
    padding: 0 0 0 15px;
    width: calc(100% - 50px);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.wallet .amount {
    padding: 0;
    margin: 0 0 8px 0;
    font-size: 18px;
    font-weight: 700;
    color: var(--primary);
}

.wallet .address {
    padding: 0;
    margin: 0;
    font-size: 14px;
    color: #999999;
}

.wallet ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.wallet li {
    font-size: 8px;
    line-height: normal;
    text-transform: uppercase;
    color: #999999;
    border: 1px solid #999;
    border-radius: 20px;
    height: 14px;
    display: inline;
    padding: 1px 5px;
}

/* FormControl */
.form-control {
    width: 100%;
    padding: var(--spacer);
    display: flex;
    flex-wrap: wrap;
}

.form-control label {
    font-size: 13px;
    color: #999;
    width: 100%;
}

.form-control input,
.form-control select {
    flex: 1;
    border: 0;
    outline: 0;
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    margin: 8px 0 0;
    background: none;
    max-width: 100%;
}

.form-control input::placeholder {
    color: #464444;
}

.form-control input:read-only {
    cursor: unset;
}

/* BTN */
.btn {
    outline: 0;
    border: 0;
    padding: 0;
    margin: 0;
    background: none;
    cursor: pointer;
}

/*  */
.page {
    flex: 1;
    padding: var(--spacer-lg);
    overflow: hidden;
    height: 100%;
}

.alert-error {
    width: 100%;
    border: 1px solid var(--primary);
    color: var(--primary);
    padding: 10px;
    border-radius: 4px;
}

.partnersWrap {
    margin-top: 24px;
    display: flex;
    justify-content: center;
}
