.sendbutton {
    background: var(--primary);
    border: 0;
    color: #333;
    padding: 16px 24px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    font-family: inherit;
    margin: 26px 0 0;
    cursor: pointer;
}

.sendinput {
    flex: 1;
    padding: 16px;
    resize: none;
    background: #000;
    border: 0;
    border-radius: 4px;
    outline: 0;
    color: var(--primary);
    width: 100%;
    height: 100%;
}

.accept{
    margin-top:20px;
    margin-bottom: 0;
    height: 20px;
}

.btnShow {
    background: var(--primary);
    border: 0;
    color: #333;
    padding: 16px 24px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    font-family: inherit;
    margin: 16px 0 0;
    cursor: pointer;
}

.modal-close-button {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    opacity: 0.3;
    cursor: pointer;
    border: none;
}

.password-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
}

.password-wrapper button {
    margin: 0 0 0 15px;
    white-space: nowrap;
}