.btnCopy {
    width: 20px;
    height: 20px;
    object-fit: contain;
    fill: #fff;
    position: relative;
}

.btnCopy:active {
    fill: var(--primary);
}

.btn.copy {
    position: relative;
}

.btn.copy:active::after {
    content: 'Copied';
    display: block;
    top: 0;
    left: 50%;
    transform: translate(-50%, calc(-100% - 10px));
    background: #333;
    color: #fff;
    position: absolute;
    padding: 10px;
    border-radius: 10px;
    z-index: 10;
}

.thumb-vertical {
    position: relative;
    display: block;
    width: 100px;
    height: 100px;
    cursor: pointer;
    border-radius: inherit;
    background-color: var(--primary);
 }


 .numberVersion{
     text-align: right;
     float: right;
     width: 400px;
 }
 .version{
     color: var(--primary);
     right: 0;
 }

 .gray{
     color: gray;
 }

 .space{
     margin-top:20px;
 }

 .btnHideShow{
     width: 50px;
     height: 50px;
     float: right;
     background-color: transparent;
     border: 0;
     fill: var(--primary);
     margin-left:-100px;
     cursor: pointer;
     outline: none;
 }