.root {
  display: flex;
  flex-direction: column;
}

.btnWrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 25px 0;
  justify-content: space-between;
  align-items: center;
}

.btnWrapper p {
  margin: 0;
}

.btn {
  height: 40px;
  background-color: transparent;
  border: 1px solid #d9d9d9;
  padding: 0 10px;
  font-size: 10px;
  text-decoration: none;
  color: #333;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  align-self: center;
}
