html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  line-height: 1.6;
  background: #f7f7f7;
  color: #333;
}

.container {
  width: 100%;
  max-width: 600px;
  padding-left: 25px;
  padding-right: 25px;
  margin: 0 auto;
}

.cardWrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  flex: 0 0 100%;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background-color: #fff;
  padding: 25px;
}
